@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg)
    }
    0% {background-color: red;}
    10% {background-color: blue;}
    20% {background-color: rgb(235, 232, 21);}
    30% {background-color: rgb(184, 25, 228)}
    40% {background-color: rgb(44, 237, 44);}
    50% {background-color: rgb(255, 0, 174);}
    60% {background-color: aqua;}
    70% {background-color: rgb(208, 249, 58)}
    80% {background-color: rgb(73, 162, 234);}
    90% {background-color: rgb(240, 39, 119);}
    100% {background-color: rgb(8, 239, 181);}
}
.h1{
    width: 100px;
    height: 100px;
    background: red;
    transition: width 0.1s;
    animation: rotate 7s infinite alternate both;
    animation-timing-function: linear;
    border-radius: 50%;
    display:inline-block;
    color: rgb(1, 19, 1);
    font-size: 50px;
    letter-spacing: 2px;
    padding: 20px 50px 20px;
    position: fixed;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    margin-top: 150px;
    margin-left: 350px;
    background-color: red; 
}
.h1:hover{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

